<div class="sale-form-container">
  <h2>Nouvelle Vente</h2>
  <form [formGroup]="saleForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="title">Titre:</label>
      <input id="title" formControlName="title" autocomplete="off" />
    </div>

    <div>
      <label for="description">Description:</label>
      <textarea id="description" formControlName="description" autocomplete="off"> </textarea>
    </div>

    <div>
      <label for="startDate">Date Début:</label>
      <input id="startDate" type="datetime-local" formControlName="startDate" autocomplete="off" />
    </div>

    <div>
      <label for="endDate">Date Fin:</label>
      <input id="endDate" type="datetime-local" formControlName="endDate" autocomplete="off" />

      <div *ngIf="saleForm.get('endDate')?.errors?.['dateAfter']">
        {{ saleForm.get('endDate')?.errors?.['dateAfter'] }}
      </div>
    </div>

    <button type="submit" [disabled]="saleForm.invalid">Create</button>
  </form>

  <p *ngIf="submissionStatus()">{{ submissionStatus() }}</p>
</div>
